.no-places {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.places-list {
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    width: 90%;
    max-width: 40rem;
    max-height: 50rem;
    overflow-y: auto;

    /* Firefox */
    scrollbar-width: none;
    /* IE */
    -ms-overflow-style: none;
}

.places-list::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}